/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background: #000000;
  color: #ffffff;
}

nav {
  background-color: #29292a;
}

.darts-background {
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

.light-background {
  background-color: #ffffff;
  color: #000000;
}

.mid-grey-background {
  background: #3e3e3e;
}

.social-icon {
  background: #333333;
  display: inline-block;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.social-icon img {
  width: 20px;
  height: 20px;
}

.white-link {
  color: #ffffff;
}

.no-underline {
  text-decoration: none;
}

@font-face {
  font-family: 'exo2extrabold';
  src: url('../public/exo2-extrabold.ttf') format('truetype');
}

.heading {
  text-align: center;
  padding: 3px;
  color: #928E1F;
  font-family: 'exo2extrabold';
  font-size: 40px;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .heading {
    font-size: 60px;
  }
}

@media (min-width: 880px) {
  .heading {
    font-size: 80px;
  }
}

.margin-right {
  margin-right: 4px;
}

.layout-fixed {
  table-layout: fixed;
}

.highlight-row td {
  background: #dee2e6;
}

.extra-small {
  font-size: 17px;
}

input[type="date"] {
  width: 7em;
}

.no-border {
  border: none;
}

.margin-left {
  margin-left: 5px;
}

.dropdown-text-min-width {
  min-width: 100px;
  display: inline-block;
}

.narrow-column {
  width: 25px;
}

.medium-column-width {
  width: 100px;
}

.vertical-align-middle {
  vertical-align: middle;
}