/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background: #000000;
  color: #ffffff;
}

nav {
  background-color: #29292a;
}

.light-background {
  background-color: #ffffff;
  color: #000000;
}