nav {
  background-color: #F8E5CD;
  color: #000000;
}

h1 {
  color: #F3472F;
}

.content-background {
  background-color: #ffffff;
  box-shadow: #aaaaaa 0px 0px 20px;
}

.social-header {
  background: #2AEA70;
}

.bg-yellow {
  background-color: #ffffcc;
}

body .bg-winner,
body .table td.bg-winner {
  background-color: #bbffbb;
}

.hover-highlight:hover {
  background-color: #dddddd;
}

.text-secondary-50 {
  color: #bbbbbb;
}
