name: UAT

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 7 * * *'

jobs:
  setup:
    uses: ./.github/workflows/setup-workflow.yml
    with:
      branch-name: 'main'
      deploy-requested: true

  build:
    needs: 
     - setup
    uses: ./.github/workflows/build.yml
    with: 
      ignore_sizes: false

  publish:
    needs:
     - setup
    uses: ./.github/workflows/publish.yml
    with: 
      upload: true
      branch-name: 'main'
      commit-sha: ${{ github.sha }}
      commit-date: ${{ needs.setup.outputs.commit-date }}

  report_tests:
    runs-on: ubuntu-latest
    name: report / test results

    needs:
     - publish
     - build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Add comments with test failures
        if: success() || failure()
        shell: pwsh
        run: ./Scripts/TriggerTestFailureAnalysis.ps1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy_uat:
    needs: 
      - build
      - publish
    uses: ./.github/workflows/deploy.yml
    with:
      environment-name: 'UAT'
      app-name: 'CourageLeagueUat'
    secrets:
      publish-profile: ${{ secrets.PUBLISHPROFILE_UAT }}

  report:
    needs: 
      - build
      - publish
    uses: ./.github/workflows/publish_coverage.yml
